.wrapper {

    .main-sidebar {
        width: var(--width-300);
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #003147;
        overflow: hidden;
        z-index: 2;

        .sidebar {

            &-item {
                transition: 0.5s;

                &:hover {
                    background-color: var(--color-4);
                }

                & .active {
                    background-color: var(--color-4);
                }
            }
        }
    }

    &-content {
        width: calc(100% - var(--width-300));
        min-height: 100vh;
        background-color: var(--color-3);
        position: relative;
        left: var(--width-300);
        // z-index: 0;
    }
}