.detail-page {

    .detail-product {

        &__image {
            width: 100%;
            height: 460px;
            object-fit: cover;
            border-radius: 2px;
        }

        &__info {
            .button-add-cart {
                background-color: var(--color-1);
                color:white;
                font-weight: bold;
                padding: 10px;

                &:hover {
                    background-color: #eb2741;
                }
            }
        }
    }
}